.camperLoaderContainer {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 9999;
}

.camperLoader {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.camperIcon {
  width: 80px;
  height: 40px;
  stroke: var(--gray-dark);
  fill: var(--gray-light);
  animation: drive 1.2s linear infinite;
}

@keyframes drive {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(-50px);
  }
}
